/*
* Rachel Clark 
* May 2nd
* Girls' code
*/


/* The universal selector */
header {background-color: IndianRed; 
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }

/* Put body attributes here */
body {background-color: lightpink }
h2 
{ text-decoration: underline; 
font-family: cursive}



p {font-family: auto}

.right {float: right}
 a:link {
 color: purple 
 }
 div img { margin: right;
		width: 300px
		height: 300px }
 a:visited {color: hotpink}
 a:hover {color: deeppink} 
}